* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #89986D;
  --secondary-color: #9CAB84;
  --light-text-color: #F6F0D7;
  --content-bg-color: var(--light-text-color);
  --shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 3fr;
  grid-template-rows: 50px 10fr 25px;
}

header {
  grid-area: 1 / 1 / 2 / 3;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

nav {
  padding: 1rem;
  background-color: var(--secondary-color);
  grid-area: 2 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
}

.project-list {
  display: flex;
  flex-direction: column;
}

.project-list > *{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.project-list > div > div:first-child:hover {
  transform: scale(1.1);
  font-weight: bold;
  cursor: pointer;
}

.add-project-btn {
  align-self: flex-end;
}

.project-input > input {
  max-width: 8rem;
}

content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--content-bg-color);
  grid-area: 2 / 2 / 2 / 3;
}

content > h2 {
  padding-bottom: 1rem;
}

.todos {
  display: grid;
  gap: 1rem;
  padding: 0 1rem;
  
}

content > button {
  margin-top: 1rem;
  align-self: center;
}

.todo {
  padding: 1rem;
  box-shadow: var(--shadow);
  
}

.todo-details {
  display: flex;
  justify-content: space-between;
}

.todo-details > div:first-of-type {
  font-weight: bold;
}

.todo-buttons {
  display: flex;
  gap: 5px;
}

.todo-description {
  padding: 1rem 0;
  max-width: 65ch;
}

button {
  border: none;
  background-color: inherit;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

button:hover {
  transform: scale(1.1);
}

footer {
  background-color: var(--primary-color);
  grid-area: 3 / 1 / 3 / 3;
}

dialog {
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
}

#todo-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#todo-form > input, textarea, select {
  background-color: var(--light-text-color);
}

#todo-form > textarea {
  min-width: 45ch;
  min-height: 5ch;
  max-width: 65ch;
  max-height: 15ch;
}

#todo-form > button {
  align-self: center;
  background-color: var(--secondary-color );
  border: 1px solid var(--light-text-color);
  padding: 0 1rem;
  border-radius: 5px;
}