* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: lightblue;
  display: grid;
  grid-template-columns: 200px 3fr;
  grid-template-rows: 50px 10fr 25px;
}

header {
  grid-area: 1 / 1 / 2 / 3;
}

nav {
  grid-area: 2 / 1 / 2 / 2;
}

content {
  grid-area: 2 / 2 / 2 / 3;
}

footer {
  grid-area: 3 / 1 / 3 / 3;
}